{% assign link = bone.Title | remove: " " | downcase | prepend: "/bones/"| append: ".html" %}
<div class="col-lg-3 col-md-6 col-sm-12 pb-4 d-flex" >
    <div class="card flex-fill" >
    <img src="{{ bone.Filename | prepend: "/thumbs/"}}" class="card-img-top" alt="photo of {{ bone.Title }}">
    <div class="card-body">
      <p class="card-cat">{{ bone.Element }}</p>
      <h5 class="card-title">{{ bone.CommonName }}</h5>
      <p class="card-text">{{ bone.View }}</p>
      <a href="{{ link }}" class="stretched-link"><i class="fas fa-chevron-circle-right fa-2x"></i></a>
    </div>
  </div>
</div>
