<div class="col-lg-3 col-md-6 col-sm-12 pb-4">
  {% assign thumb = Element | remove: " " | remove: "(" | remove: ")" | downcase | prepend: "/elementThumbs/"| append: ".jpg" %}
  {% assign link = Element | remove: " " | remove: "(" | remove: ")" | downcase | prepend: "/Element/"| append: ".html" %}
  <div class="tile">
    <a href="{{ link }}">
      <div class="tile" style="background-image: url({{thumb}})">
        <p>{{ Element | capitalize }} <i class="fas fa-chevron-circle-right"></i></p>
      </div>
    </a>
  </div>
</div>
