/* my styles */
body          {background: #333333; color: #fcfcfc}
.footer       {background: #efefef; color: black; padding: 3em 0 2em;   margin-top: 2em}

h1              {margin-top: 2rem; margin-bottom: 1rem;}
h2              {margin-top: 2.5rem; margin-bottom: 1rem;}

/*  nav  */
.bg-dark              {background-color: #080305 !important;}
.navbar               {padding: 0.1rem 0}
.navbar-toggler-icon  {width: 1em; height: 1em}
.navbar-toggler       {margin: 0.2rem; padding: .25rem .5rem}
.navbar-dark .navbar-brand {color: rgba(255,255,255,0.85)}
.nav-item             {margin-left: 10px}
#home .navbar-brand   {display: none}


/*  home  */
.home           {height: 400px; background-size: contain; background: url(/assets/home.jpg) no-repeat top center; margin-bottom: 2rem; padding-top: 1rem}
.home h1        {font-size: 2.5rem; color: white; margin-top: 0}
.home p         {width: 40%; background: rgba(255,255,255, 0.7); padding: 0.5rem 1rem; font-size: 1.2rem; font-style: italic;}

.tile             {background-size: cover; height: 14rem; font-size: 1.4rem; position: relative; }
.tiles .pb-4      {padding-bottom: 30px!important;}
.tile p           {position:absolute; bottom: 6px; left: 6px; margin-bottom: 0; padding: 0 0.5rem; }
.tile i           {padding-left: 0.2em}
/* OPTION A - white on black -> blue */
.tiles a          {color: white; }
.tiles a:hover    {color: blue; }
.tile p           {background: rgba(0,0,0, 0.5)}



/*  indexes  */
.card             {border-color: black; border-radius: 0; color: black; background-color: #FEFCFC}
.card-img-top     {height: 10rem; width:auto; object-fit: cover; border-top-left-radius: 0; border-top-right-radius: 0}
.card p           {margin-bottom: 0}
.card i           {color: blue; padding-left: 10px; position: absolute; bottom: 12px; right: 12px}



/*  items  */
.itemimage        {text-align: center; padding-bottom: 2rem}
.item a           {color: white; text-decoration: underline;}
dt                {font-weight: 400;}
dd                {font-weight: 600;}





.tableauto        {width: auto}
.highlight        {background-color: #f8f8f8;}
.highlight .sr    {color: #586e75;  /* not red as OTT */}


/*
 * Font Awesome Free 5.8.1 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 Need to include /vendor/fontawesome-5.8.1.min.css too
 */
@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 400;
 font-display: auto;
 src: url("../vendor/fa-regular-400.eot");
 src: url("../vendor/fa-regular-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-regular-400.woff2") format("woff2"), url("../vendor/fa-regular-400.woff") format("woff"), url("../vendor/fa-regular-400.ttf") format("truetype"), url("../vendor/fa-regular-400.svg#fontawesome") format("svg"); }
.far {
 font-family: 'Font Awesome 5 Free';
 font-weight: 400; }

@font-face {
 font-family: 'Font Awesome 5 Free';
 font-style: normal;
 font-weight: 900;
 font-display: auto;
 src: url("../vendor/fa-solid-900.eot");
 src: url("../vendor/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-solid-900.woff2") format("woff2"), url("../vendor/fa-solid-900.woff") format("woff"), url("../vendor/fa-solid-900.ttf") format("truetype"), url("../vendor/fa-solid-900.svg#fontawesome") format("svg"); }
.fa,
.fas {
 font-family: 'Font Awesome 5 Free';
 font-weight: 900; }

@font-face {
 font-family: 'Font Awesome 5 Brands';
 font-style: normal;
 font-weight: normal;
 font-display: auto;
 src: url("../vendor/fa-brands-400.eot");
 src: url("../vendor/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("../vendor/fa-brands-400.woff2") format("woff2"), url("../vendor/fa-brands-400.woff") format("woff"), url("../vendor/fa-brands-400.ttf") format("truetype"), url("../vendor/fa-brands-400.svg#fontawesome") format("svg"); }
.fab {
 font-family: 'Font Awesome 5 Brands'; }
