---
layout: default
filter:  "yes"
---

<!-- HEADER

banner image by _convention_ ie /cat-thumbs/<cat name>.jpg ??

<div class="banner" style='background: url(/images/{{page.image}}) no-repeat center center;'>
	<div class="container">
		<div class="title">
			<h1>{{ page.fruitname }}</h1>
		</div>
	</div>
</div>
-->


<!-- CONTENT -->
<div class="container" style="padding-top: 2rem">

	<div class="row title">
		<div class="col">
			<p>GeographicalRange:</p>
			<h2>{{ page.GeographicalRange }}</h2>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-12">
		<form class="form-inline">
			 <input class="form-control" id="filterFish" type="text" placeholder="Filter...">
		</form>
		</div>
	</div>

	<div class="row tiles">

		{% assign bones = site.data.fishbones | where: "GeographicalRange",page.GeographicalRange | sort: "CommonName" %}
		{% for bone in bones %}
		{% assign link = bone.Title | remove: " " | remove: "(" | remove: ")" | downcase | prepend: "/bones/"| append: ".html" %}
		<div class="col-lg-3 col-md-6 col-sm-12 pb-4" >
		    <div class="card flex-fill" >
		    <img data-src="{{ bone.Filename | prepend: "/thumbs/"}}" class="card-img-top" alt="photo of {{ bone.Title }}">
		    <div class="card-body">
		      <p class="card-cat">{{ bone.GeographicalRange }}</p>
		      <h5 class="card-title">{{ bone.CommonName }}</h5>
		      <p class="card-text">{{ bone.Element }}</p>
		      <p class="card-text">{{ bone.View }}</p>
		      <a href="{{ link }}" class="stretched-link"><i class="fas fa-chevron-circle-right fa-2x"></i></a>
		    </div>
		  </div>
		</div>
		{% endfor %}

	</div>
</div>
