---
layout: default
---

<div class="container">
	<h1>{{ page.Title }}</h1>

	<div class="itemimage">
		<img src="/images/{{page.Filename}}" alt="{{ page.Title }}"/>
	</div>
</div>


<!-- CONTENT -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-9">

			<dl class="row item">
				{% for data in site.data.metadata %}
					{% if page[data.field] %} {% comment %} ie we have data to display {% endcomment %}
						<dt class="col-sm-3">{{ data.label }}</dt>
						{% if data.link %}
							{% assign link = page[data.field] | downcase | remove: " " | remove: "'" | remove: "(" | remove: ")" | prepend: data.link | append: ".html" %}
							<dd class="col-sm-7"><a href="{{link}}">{{ page[data.field] }} <i class="fas fa-chevron-circle-right"></i></a></dd>
						{% else %}
						 <dd class="col-sm-7">{{ page[data.field] }} </dd>
						{% endif %}
					{% endif %}
				{% endfor %}
			</dl>

		</div>
  </div>
</div>
